@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 1rem;
  color: whitesmoke;
  background: rgb(56, 56, 56);
}

.topic {
  font-size: 60px;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  text-align: center;
  padding: 2rem;
  background-color: #002244;
}

.flex {

  display: flex;

}

.centre{

  text-align: center;
}
.a {

  text-decoration: none;
  cursor: pointer;
  color: inherit;

}

.underline {

  text-decoration: underline;
  color: red;

}

.highlight {
  font-weight: 900;
  color: orange;
}

.parser {

  width: 100vw;
  height: 13vh;

}

.name-over {

  font-size: 2rem;
  font-weight: 500;

}

.name {

  font-family: "Black Ops One", system-ui;
  font-size: 5rem;
  font-style: normal;

}

.nameplate-profession {

  font-size: 1.8rem;
  font-weight: 700;

}


p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

}

nav {

  width: 100%;
  height: 13vh;
  padding: 0rem 7rem 0rem 3rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: fixed;
  z-index: 99;
  border-bottom: 3px solid black;
  background-color: rgba(249, 247, 247, 0.6);
  /* Transparent background color */
  backdrop-filter: blur(10px);


}

.logo img {

  width: 17vw;
  height: 15vh;

}

.links {
  font-size: 2rem;
  text-transform: capitalize;
  gap: 3rem;
  list-style: none;
  color: black;

}

.link:hover {
  transition: 1s ease-out;
  transform: scale(1.2);
  color: #002244;

}
/* +++++++++++++++++++++++++++++++++++++++++ home css +++++++++++++++++++++++++++++++++++++++++ */
.home {
  height: 86vh;
  padding: 4rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: black;

}

.left {
  display: flex;
  align-items: center;
  justify-content: center;


}

.left img {
  max-width: 30vw;
  border: 1rem whitesmoke solid;
  border-radius: 15rem 15rem 0rem 0rem;


}

.right {
  padding: 5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #E1EBEE;

}

.right p {

  padding: 1rem;

}

:root {
  --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 0.1;
  }

  4% {
    opacity: 0.5;
  }

  19% {
    opacity: 0.5;
  }

  21% {
    opacity: 0.1;
  }

  23% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn {
    font-size: 1em;
  }
}

/* +++++++++++++++++++++++++++++++ about us css ++++++++++++++++++++++++++++++ */

.about-us-container{
justify-content: space-between;

}

.profile-photo-about-us{

  width: 100%;
  height: 420px;
  text-align: center;
  justify-content: center;
  background-image: url('WhatsApp Image 2024-05-14 at 19.57.01_a40624e3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 0px 50px 50px;
}

.left-about-us{
  display: grid;
  row-gap: 1rem;
  text-align: center;
  padding: 3rem;
  background-color: antiquewhite;
}

.social-media{

  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.right-about-us{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.description p{
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-size: 1.8rem;
  font-weight: 900;
  font-style: normal;
  min-width: 10%;
  max-width: 695px;
  margin-right: 350px;
  padding: 3rem;
  align-items: center;
}

/*+++++++++++++++++++++++++++++++++ project css  +++++++++++++++++++++++++++++*/

.card-container {
  margin: 3rem 0rem 3rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;


}

.bubble-game {

  background-image: url('backgroundColor/wp12536949-4k-bubbles-wallpapers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rockPaperScissor {

  background-image: url('wallpaperflare.com_wallpaper.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.coming-soon {

  background-image: url('backgroundColor/kevin-laminto-wjeYKNEHIaE-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.card {
  min-width: 40%;
  min-height: 380px;
  padding: 3rem;

}

.inner-card {
  width: 220px;
  height: 320px;
  padding: 50px 50PX 10PX 50PX;
  display: grid;
  text-align: center;
  row-gap: 20px;
  justify-content: center;
  background-color: whitesmoke;
}

.inner-card h1 {

  font-family: "Black Ops One", system-ui;
  font-weight: 300;
  font-style: normal;

}


/* ++++++++++++++++++++++++++++++++++ contact us css +++++++++++++++++++++++++++++++++++++++++++++++ */

.inner-contact-us {
  padding: 121px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.platform1 {
  margin: 2rem 0rem 2rem 0rem;
  padding: 0.8rem;
  display: flex;
  gap: 4rem;
  background-color: #E1EBEE;
  border-radius: 1rem;

}

.platform2 {
  padding: 0.8rem;
  display: flex;
  gap: 4rem;
  background-color: rgb(240, 194, 12);
  border-radius: 0.5rem;
}

.platform-icon {
  padding: 2rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  background-color: black;
}

.platform-contact {
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 900;

}

/* ++++++++++++++++++++++++++++++++++++ footer css +++++++++++++++++++++++++++++++++++++ */

.footer{
  background:#000;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }


